.collaboration-page {

	>div {
		margin-bottom: 8px; 
		background-color: $grey;
		text-align: left;
		padding: 10px;
	  border-radius: 6px;
	  box-shadow: 3px;
	}

	.title {
		font-size: 1.4em;
	}

}