.splash {
	@extend .jumbotron;

	a {
		@extend .btn;
		@extend .btn-lg;
		margin: 10px auto;
	}

	a:nth-child(1){ @extend .btn-primary; }
	a:nth-child(2){ @extend .btn-success; }
}

.main-area {
	@extend .row;
	@extend .box;
}

.column {
	@extend .col-md-6;
	>div { @extend .std-style }
	h3 { text-align: center }
}